<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    <h1>Order #{{ orderData.id }}</h1>
</header>
<div>
    <p>Delivery method: {{ orderData.deliveryMethod.name }}</p>
    <p>Payment method: {{ orderData.paymentMethod.name }}</p>
    <p>User name: {{ orderData.userName }}</p>
    <p>User email: {{ orderData.email }}</p>
    <p>Town: {{ orderData.town }}</p>
    <p>City: {{ orderData.city }}</p>
    <p>Telephone: {{ orderData.telephone }}</p>
    <p>Comment: {{ orderData.orderComment }}</p>
    <p>Total item: {{ orderData.totalItems }}</p>
    <p>Total amount: {{ orderData.totalAmount }}</p>
</div>
</body>
</html>